<!DOCTYPE html>
<html>

<head>
    <title>Justice for Ugly Animals - Home</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/post.css">
</head>

<body>
    <%- include('./partials/header') %>
        <div id="post-wall">
            <% posts.forEach((post)=> {%>
                <div class="post-container">
                    <div class="post-image-container">
                        <img class="post-image" src=<%=post.img_name %>>
                    </div>
                    <div class="post-info">
                        <div class="post-user">
                            User: <%= post.username %>
                        </div>
                        <div class="post-title">
                            Title: <%= post.post_title %>
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="post-score" onclick="add_score()">
                            Likes: <%= post.score %>
                        </div>
                        <div class="post-date">
                            <% date=new Date(post.datetime) %>
                                Posted: <%= date.toLocaleDateString() %>
                        </div>
                    </div>
                </div>
                <%- include('./partials/comments', {post: post}); %>
                <% }); %>
        </div>

        <div class="post-button" onclick="add_post()">
            <a class="plus"></a>
        </div>

        <% if (session.loggedin) {%>
            <%-include('. /partials/userInfo')%>
                <% } else {%>
                    <%-include('. /partials/loginBtn')%>
                        <%}%>
                            <%- include('./partials/footer') %>

</body>

<script>
    var coll = document.getElementsByClassName("post-container");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

</html>