<!DOCTYPE html>
<html>

<head>
    <title>Justice for Ugly Animals - Home</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/post.css">
</head>

<body>
    <%- include('./partials/header') %>
        <div id="post-wall">
            <% posts.forEach((post)=> {%>
                <div class="post-container">
                    <div class="post-image-container">
                        <img class="post-image" src=<%=post.img_name %>>
                    </div>
                    <div class="post-info">
                        <div class="post-user">
                            User: <%= post.username %>
                        </div>
                        <div class="post-title">
                            Title: <%= post.post_title %>
                        </div>
                    </div>
                    <div class="post-footer">
                        <% if (session.loggedin) { %>
                            <form class="like-unlike-form">
                                <% if (likes.includes(post._id)) {%>
                                    <button class="unlike" type="submit" formaction="/unlike/<%=post._id%>"
                                        formmethod="post">Liked!</button>
                                    <% } else {%>
                                        <button class="like" type="submit" formaction="/like/<%=post._id%>"
                                            formmethod="post">Like</button>
                                        <% } %>
                            </form>
                            <% } %>
                                <div class="post-score" onclick="add_score()">
                                    Likes: <%= post.score %>
                                </div>
                                <div class="post-date">
                                    <% date=new Date(post.datetime) %>
                                        Posted: <%= date.toLocaleDateString() %>
                                </div>
                    </div>
                </div>
                <%- include('./partials/comments', {post: post}); %>
                    <% }); %>
        </div>

        <div class="post-button" onclick="add_post()">
            <a class="plus"></a>
        </div>

        <% if (session.loggedin) {%>
            <%-include('./partials/userInfo')%>
                <% } else {%>
                    <%-include('./partials/loginBtn')%>
                        <%}%>
                            <%- include('./partials/footer') %>

</body>

</html>