<!DOCTYPE html>
<html>

<head>
    <title>Justice for Ugly Animals - Profile</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/profile.css">
</head>

<body>
    <%- include('./partials/header') %>
        <div class="profile">
            <div class="info">
                <table class="user-info">
                    <tr>
                        <td>
                            Name :
                        </td>
                        <td>
                            <%=username%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Highscore :
                        </td>
                        <td>
                            <%=score%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            No. Likes :
                        </td>
                        <td>
                            <%=likes.length%>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="options">
                <form class="delete">
                    <input type="submit" value="Delete Acccount" formaction="/deleteCurrentUser" formmethod="post">
                    <input type="submit" value="Delete Likes" formaction="/deleteUserLikes/<%=session.userid%>"
                        formmethod="post">
                    <input type="submit" value="Delete Posts" formaction="/deleteUserPosts/<%=session.userid%>"
                        formmethod="post">
                    <input type="submit" value="Delete Posts" formaction="/deleteUserComments/<%=session.userid%>"
                        formmethod="post">
                </form>
                <form class="change-username" action="/changeUsername" method="post">
                    <input type="text" name="username" placeholder="Username" id="username" required>
                    <input type="submit" value="Change Username">
                </form>
                <form class="change-password" action="/changePassword" method="post">
                    <input type="password" name="password" placeholder="Password" id="password" required>
                    <input type="submit" value="Change Password">
                </form>
            </div>
        </div>
        <%- include('./partials/footer') %>
</body>

</html>